* {
    text-align: center;
    background: transparent;
    /* color: #DDD8B8; */
    color: #DDD8A8;
    font-weight: bolder;
}

body {
    background: #205E06;
}

a {
    color: #B3CBB9 !important;
}

.nav, .nav-wrapper {
    background: #8c1c14;
}

.brand-logo {
    color: #205E06 !important;
    display: none !important;
}
.content {
    max-width: 80%;
    background-image: url("./images/wood.jpg");
    margin: auto;
    min-height: 100vh;
}

.overlay {
    background: #2f4f4f52;
    min-height: inherit;
}

h1, h2, h3, h4 {
    margin-top: 0px;
    font-family: 'Dancing Script', cursive;
}

.pagination li {
    margin: 5px;
}

.menuItems {
    background-color: #205E06 !important;
}

.pagination li a:active, .pagination li a:hover  {
    background: #8c1c14 !important;
}

#map {
    height: 30vh;
}

.hoursTable {
    font-weight: bolder;
}

#location {
    overflow: hidden;
}

.page-footer {
    background: none;
}


@media only screen and (max-width: 470px) {
    #frontImage {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .content {
        max-width: 90%;
    }
}