* {
    text-align: center;
}
#map {
    height: 30vh;
}

.hoursTable {
    font-weight: bolder;
}

.content {
    max-width: 80%;
    background: #f5f5f5;
    margin: auto;
}

body {
    /* background: black; */

}

#menuContent {

}

#location {
    overflow: hidden;
}

